<div class="inner-content">
  <div>
    <h1>{{'static.occupations' | translate}}</h1>

    <form [formGroup]="formOccupationGroup">
        <nz-select [formControlName]="'occupation'">
          <nz-option-group nzLabel="{{group.name | translate}}" *ngFor="let group of occupationData">
            <nz-option *ngFor="let occupation of group.occupations" nzValue="{{occupation.name}}" nzLabel="{{occupation.name | translate}}"></nz-option>
          </nz-option-group>
        </nz-select>
    </form>

    <nz-table #basicTable [nzData]="occupation.skills">
      <thead>
      <tr>
        <th>{{ 'static.name' | translate}}</th>
        <th>{{ 'static.bonus' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name | translate}}</td>
        <td>{{data.value}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

