<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <i nz-icon [nzType]="'rune:dragonewt'" style="color: white"></i>
      <h1>RuneQuest</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? ('static.character' | translate) : ''">
        <i nz-icon nzType="rune:maker"></i>
        <span><a routerLink="/character">{{'static.character' | translate}}</a></span>
      </li>
      <li nz-submenu nzOpen nzTitle="{{'static.species' | translate}}" nzIcon="rune:man">
        <ul *ngFor="let specie of species">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/species/{{specie}}">{{ specie | translate}}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="{{'static.occupations' | translate}}" nzIcon="rune:mastery">
        <ul *ngFor="let occupation of occupations">
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/occupations/{{occupation}}">{{ occupation | translate}}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="{{'static.language' | translate}}" nzIcon="rune:communication-trade">
        <ul *ngFor="let language of languages">
          <li nz-menu-item nzMatchRouter (click)="useLanguage(language.value)">{{ language.name | translate }}</li>
        </ul>
      </li>
    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header >
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
          <span class="page-title">{{ title | translate}}</span>
        </span>

      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
