:host {
  min-height: 1200px;
}

nz-select {
  //margin: 0 8px 10px 0;
  width: 250px;
  min-width: 250px;
}

label {
  margin-left: 5px;
}

.red {
  color: red;
}


.rune-circle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". . . fire fire . . ."
    ". . . fire fire . . ."
    ". . . fire fire . . ."
    "air air . . . darkness darkness ."
    "air air . . . darkness darkness ."
    "air air . moon moon darkness darkness ."
    ". . . moon moon . . ."
    ". . . moon moon . . ."
    ". . . . . . . ."
    ". earth earth . water water . ."
    ". earth earth . water water . ."
    ". earth earth . water water . .";
}

.fire {
  grid-area: fire;
}

.air {
  grid-area: air;
}

.darkness {
  grid-area: darkness;
}

.moon {
  grid-area: moon;
}

.earth {
  grid-area: earth;
}

.water {
  grid-area: water;
}



.box {
  border: 1px solid #ddd;
}

