<form [formGroup]="formRuneAffinity">
  <nz-space  nzDirection="vertical">
    <nz-space  nzDirection="vertical" formArrayName="specieRunes">
      <nz-form-item *ngFor="let charRune of getSpecieRunes().controls; let i=index">
        <nz-form-label nzFor="select{{(charRune | cfca).label }}">{{ getRuneLabel((charRune | cfca)) }}</nz-form-label>
        <nz-form-control [nzErrorTip]="runeErrorTpl">
          <nz-select [formControlName]="i" id="select{{(charRune | cfca).label }}">
            <nz-option *ngFor="let rune of (charRune | cfca).options.choice" nzValue="{{rune}}" nzLabel="{{rune |translate}}"></nz-option>
          </nz-select>
          <ng-template #runeErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">{{'error.required' | translate}}</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <p class="red" *ngIf="getSpecieRunes().hasError('differentValues')">{{'error.different_values' | translate}}</p>
    </nz-space>
    <nz-space nzDirection="horizontal">
      <div class="box>">
        <h3>{{'static.elementalRunes' | translate}}</h3>
        <div class="rune-circle" formGroupName="elementalRunes">
          <app-rune-input class="fire" formControlName="fire" minValue="0" maxValue="100" runeIcon="rune:fire-sky" title="{{'runes.elemental.fire' | translate}}"></app-rune-input>
          <app-rune-input class="air" formControlName="air" minValue="0" maxValue="100" runeIcon="rune:air" title="{{'runes.elemental.air' | translate}}" leftInput="true"></app-rune-input>
          <app-rune-input class="darkness" formControlName="darkness" minValue="0" maxValue="100" runeIcon="rune:darkness" title="{{'runes.elemental.darkness' | translate}}"></app-rune-input>
          <app-rune-input class="moon" formControlName="moon" minValue="0" maxValue="100" runeIcon="rune:moon-full" title="{{'runes.elemental.moon' | translate}}"></app-rune-input>
          <app-rune-input class="earth" formControlName="earth" minValue="0" maxValue="100" runeIcon="rune:earth" title="{{'runes.elemental.earth' | translate}}" leftInput="true"></app-rune-input>
          <app-rune-input class="water" formControlName="water" minValue="0" maxValue="100" runeIcon="rune:water" title="{{'runes.elemental.water' | translate}}"></app-rune-input>
        </div>
      </div>
      <div formArrayName="powerRunes">
        <h3>{{'static.powerRunes' | translate}}</h3>
        <app-opposite-rune-input *ngFor="let fg of getPowerRunes().controls; let i=index" [runeGroup]="fg"></app-opposite-rune-input>
      </div>
      <div class="customization">
        <h3>{{'static.customization' | translate}}</h3>
        <br>
        <p *ngIf="pointsRemaining > 0">{{'static.customize_runes' | translate:{value: pointsRemaining} }}</p>
        <p *ngIf="pointsRemaining < 0">{{'static.customize_runes_exceed' | translate:{value: -pointsRemaining} }}</p>
      </div>
    </nz-space>

  </nz-space>
</form>


