:host {
  min-height: 1200px;
}

nz-select {
  //margin: 0 8px 10px 0;
  width: 250px;
  min-width: 250px;
}

label {
  margin-left: 5px;
}

.red {
  color: red;
}

i {
  font-size: xxx-large;
}

.circle {
  position: relative;
}

.fire {
  position: relative;
  top: 0;
  left: 0;
}

.air {
  position: relative;
  top: 10px;
  left: -90px;
}

.darkness {
  position: relative;
  top: -35px;
  left: 100px;
}

.moon {
  position: relative;
  top: -50px;
  left: 0;
}

.earth {
  position: relative;
  top: -20px;
  left: -40px;
}

.water {
  position: relative;
  top: -65px;
  left: 80px;
}

nz-input-number {
  width: 60px;
}
