<div class="inner-content">
  <form [formGroup]="formSpecie">
    <nz-select [formControlName]="'specie'">
      <nz-option *ngFor="let specie of species" nzValue="{{specie.name}}" nzLabel="{{specie.name | translate}}"></nz-option>
    </nz-select>
  </form>

  <nz-space nzSize="large" nzAlign="start">
    <nz-card style="width:300px;" nzTitle="{{'static.characteristics' | translate}}" *nzSpaceItem>
      <p><b>{{'characteristics.abrev.STR' | translate}}</b>: {{specie.characteristics.STR}}</p>
      <p><b>{{'characteristics.abrev.CON' | translate}}</b>: {{specie.characteristics.CON}}</p>
      <p><b>{{'characteristics.abrev.SIZ' | translate}}</b>: {{specie.characteristics.SIZ}}</p>
      <p><b>{{'characteristics.abrev.INT' | translate}}</b>: {{specie.characteristics.INT}}</p>
      <p><b>{{'characteristics.abrev.POW' | translate}}</b>: {{specie.characteristics.POW}}</p>
      <p><b>{{'characteristics.abrev.DEX' | translate}}</b>: {{specie.characteristics.DEX}}</p>
      <p><b>{{'characteristics.abrev.CHA' | translate}}</b>: {{specie.characteristics.CHA}}</p>
    </nz-card>

    <nz-card style="width:300px;" nzTitle="{{'static.runes' | translate}}" *nzSpaceItem>
      <p *ngFor="let rune of specie.elemental_runes"><b>{{rune.name | translate}}</b>: {{rune.value}}</p>
    </nz-card>
  </nz-space>
  <nz-divider nzText="{{'static.skills' | translate}}"></nz-divider>

  <nz-table *ngIf="specie && specie.skills && specie.skills.length > 0" #expandTable [nzData]="specie.skills"
            nzTableLayout="fixed" [nzScroll]="{ y: '500px' }" nzSize="middle" [nzShowPagination]="false"
            [nzPageSize]="150">
    <thead>
    <tr>
      <th>{{'static.skill' | translate}}</th>
      <th>{{'static.base' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of expandTable.data">
      <ng-container *ngFor="let item of mapOfExpandedData[data.name]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td
            [nzIndentSize]="item.level! * 20"
            [nzShowExpand]="!!item.items"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.name], item, $event)"
          >
            {{ item.param ? (item.name | translate:{value: item.param | translate}) :  (item.name | translate) }}
          </td>
          <td>{{ !!item.formula ? item.formula : item.value }}</td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </nz-table>
</div>

